#pw-forget-bg {
    background-color: white;
    height: 88.5vh;
}

#pw-forget-box {
    padding-top: 5rem;
    width: 55rem;
}

.lobster-font {
    font-family: 'Lobster', cursive;
    border: .20rem solid black;
    padding: 1rem;
    font-style: italic;
}

.form-control, p {
    font-family: 'Oswald', sans-serif;
}

.pw {
    font-family: 'Oswald', sans-serif;
}