.navbar {
    border-radius: 0;
    background-color: white;
    padding-bottom: 1.2%;
    padding-top: 0;
    box-shadow: 1px 1px 10px #aaaaaa;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.oswald-font {
    font-family: 'Oswald', sans-serif;
    color: black;
}

.lobster-font {
    font-family: 'Lobster', cursive;
    color: black;
}

.logo {
    background-image: url(../../images/guru-match-logo.png);
    height: 4rem;
    width: 12rem;
    background-size: cover;
}

  /* Reveal */
.hvr-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: darkcyan;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 3px;
  }