/* .main-header {
    background-image: url("../images/colorBlob.png");
    height: 100vh;
    background-size: 100% 100%;
    width: auto;
    /* background-size: 170vh; 
}*/

.main-header {
    font-size: 3.5rem;
    padding-left: 0;
}

.typeform-widget {
    display: block;
    position: relative;
    height: 400px;
}

.row {
    /* height: 100vh; */
    /* border: 1px solid black; */
}

.next-page {
    position: absolute;
    top: 80vh;
    right: 95vh;
    cursor: pointer;
    /* left: 50vh; */
}

.column-style {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

#first-row {
    background-image: url("../images/colorBlob.png");
    background-size: cover;
    height: 90vh;
}

#second-row {
    background-color: white;
    height: 100vh;
}

#third-row {
    background-color: burlywood;
    height: 100vh;
}

#fourth-row {
    background-color: bisque;
    height: 100vh;
}

video {
    max-width: calc(50% - 100px);
    margin: 0 50px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
  }